#user 
TFmini-I2C-MasterExample/Drivers/CMSIS/DSP_Lib
TFmini-I2C-MasterExample/MDK-ARM/RTE
TFmini-I2C-MasterExample/MDK-ARM/STM32_I2CMasterForTFmini
TFmini-I2C-MasterExample/Drivers/STM32F1xx_HAL_Driver
TFmini-I2C-MasterExample/Drivers/CMSIS/Lib
TFmini-I2C-MasterExample/Drivers/CMSIS/RTOS
TFmini-I2C-MasterExample/Drivers/CMSIS/Device/ST/STM32F1xx/Source
TFmini-I2C-MasterExample/MDK-ARM/EventRecorderStub.scvd
TFmini-I2C-MasterExample/MDK-ARM/JLinkLog.txt
TFmini-I2C-MasterExample/MDK-ARM/JLinkSettings.ini

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.icf
TFmini-I2C-MasterExample/.mxproject
TFmini-I2C-MasterExample/Drivers/CMSIS/Device/ST/STM32F1xx/Include/stm32f100xb.h
TFmini-I2C-MasterExample/Drivers/CMSIS/Device/ST/STM32F1xx/Include/stm32f100xe.h
TFmini-I2C-MasterExample/Drivers/CMSIS/Device/ST/STM32F1xx/Include/stm32f103xe.h
TFmini-I2C-MasterExample/Drivers/CMSIS/Device/ST/STM32F1xx/Include/stm32f103x6.h
TFmini-I2C-MasterExample/MDK-ARM/startup_stm32f103xb.lst
TFmini-I2C-MasterExample/MDK-ARM/TFmini-I2C-MasterExample.uvguix.Cherry Goh
